{% include "html-head-top" %}

<title>{% block title %}Sassaparilla: Fiennes Edition{% endblock %}</title>
{{ "screen.css" | asset_url | stylesheet_tag }}
{% block styles %}{% endblock %}

{% include "html-head-bottom" %}

	{% include "demo/header" %}

	<div class="site-content">
		{% block content %}{% endblock %}
	</div>

	{% include "demo/footer" %}

{% include "html-base" %}