		<!-- TODO: Select version of jquery and link to CDN -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		{{ "script.js" | asset_url | script_tag }}

	</body>

</html>