<header role="banner">
	<hgroup>
		<h1>&nbsp;</h1>
	</hgroup>
</header>
<article class="l-introduction">
	<section class="hero">
		<img src="{{ "mountains-trans.png" | asset_url }}" alt="Illustration: mountain peaks">
	</section>
	<section class="highlight">
		<article>
			<h1>Thanks for choosing Sassaparilla</h1>
			<p>Sassaparilla is a fast way to start your responsive web design projects that harnesses the power of <a rel="external" href="http://sass-lang.com/" title="Sass - Syntactically Awesome Stylesheets">SASS</a> and <a rel="external" href="http://compass-style.org/" title="Compass is an open-source CSS Authoring Framework">Compass</a></p>
			<p>You are using the Mixture + Sassaparilla (v1) boilerplate.</p>
			<p><a href="https://github.com/fffunction/sassaparilla" class="btn  btn--mix">Read the Sassaparilla documentation &raquo;</a></p>
			<p><a href="http://docs.mixture.io" class="btn  btn--mix">Read the Mixture documentation &raquo;</a></p>
		</article>
		<article>
			<p>Brought to you by: {% for person in people %} <a href="http://twitter.com/{{ person.twitter }}">{{ person.name }}</a> {% endfor %}</p>
		</article>
	</section>
</article>