<footer class="global-footer is-typeset">
	<div class="row-parent">
		<div class="row">
			<section class="row__colspaced">
				<div class="colspan12-8 colspan8-5 colspan6-4 colspan2-2 as-grid with-gutter">
					<h3>Made by makers like you</h3>
					<p>We are <a href="http://fffunction.co">fffunction</a>, and we use sassaparilla in our everyday work. We thought you might like it too. If you do, let us know how you&rsquo;re getting on and feel free to ask us questions.</p>
				</div>
				<div class="colspan12-3 push12-1 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter">
					<span class="fff-svg"></span>
				</div>
			</section>
		</div>
	</div>

	<div class="row-parent">
		<div class="row">
			<section class="row__colspaced">
				<div class="colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter">
					<div class="col__module">
						<h4>About us</h4>
						<p>fffunction is a design agency, based in Bristol and Cornwall, UK. We&rsquo;ve made stuff for FictiveKin, Roland UK and Squarespace amongst others. We live <a href="http://fffunction.co">here</a>.</p>
					</div>
				</div>
				<div class="colspan12-4 colspan8-3 colspan6-2 colspan2-2 as-grid with-gutter">
					<div class="col__module">
						<h4>Keep updated</h4>
						<p>Please give us a follow on twitter <a href="http://twitter.com/fff_sass"> where we&rsquo;ll happily answer your questions</a></p>
					</div>
				</div>
				<div class="colspan12-4 colspan8-2 colspan6-2 colspan2-2 as-grid with-gutter">
					<div class="col__module">
						<h4>Get social</h4>
						<ul>
							<li><a rel="external" href="https://twitter.com/fffunction">Twitter</a></li>
							<li><a rel="external" href="https://www.facebook.com/fffunction">Facebook</a></li>
						</ul>
					</div>
				</div>
			</section>
		</div>
	</div>
	<div class="row">
		<div class="colspan2-2">
			<p class="legal">Copyright &copy; 2014. All rights reserved unless stated. Designed &amp; built with love, tea and biscuits. Set in Open Sans. Registered in the UK, company number 07905780, VAT number 130365154. Tremough Innovation Centre, Penryn, TR10 9TA, United Kingdom. Sassaparilla by fffunction is licensed under a <a rel="license" href="http://opensource.org/licenses/MIT">The MIT License (MIT)</a>.</p>
		</div>
	</div>
</footer>
