<header class="global-header">
	<div class="row">
		<h1 class="global-logo colspan12-6 colspan8-4 colspan6-3 colspan2-1 as-grid"><a href="/">Sassaparilla</a></h1>
		<nav class="global-header__navigation colspan12-6 colspan8-4 colspan6-3 colspan2-1 as-grid">
			<ul>
				<li><a href="/grid">Grid demo</a></li>
			</ul>
		</nav>
	</div>
</header>
